.container{
  width: 1140px;
  padding: 60px 20px;
  margin: 0 auto;
}

.input-box {
  display: flex;
  flex-direction: column;
}
.input-box input {
  position: relative;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid;
}

form.add-form {
  width: 430px;
  margin: 0 auto;
}

button.button {
  color: #fff;
  outline: none;
  border: none;
  background: #030303;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 12px;
  transition: .3s ease-in;
}

button.button:hover {
  background-color: #555;
}